<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon List </h1>
    <input #input (keyup.enter)="selectPokemon(input.value)" type="number">
    <p *ngIf="pokemonSelected">
        {{pokemonSelected.name}}
    </p>
    <p *ngIf="!pokemonSelected">
        no sorry
    </p>
    <p *ngFor="let pokemon of pokemonList"> 
        <span style="color: rgb(234, 48, 79);font-weight: bolder;">
            {{pokemon.name}}
        </span>
    </p>
   
    
</body>
</html>